body{
    background-color: aqua;
}
hr{
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;

}
h1{
    color: #03045E;
}
h3{
    color: #03045E;
}